*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    
}

    body{
        font-family: 'Dancing Script', cursive;

    }

    a{
       color: aliceblue;
       text-decoration: none;
    }
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background: url(../imgs/g2.jpeg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0, 0, 0, .2);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            font-family: 'Pacifico', cursive;
            border-bottom: 1px solid rgba(255, 255, 255, .9);
        }
            .logo{
                font-size: 20px;
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                }
                .logo a:hover{
                    color: #b3afaf;
                    
                }
            .nav{
                flex: 5 1 auto;
            }
                .nav a{
                    color: #fff;
                    font-size: 20px;
                   
                    padding: 0 10px;
                }
                .nav a:hover{
                    color: #b3afaf;
                }
            .social{
               
                flex: 1 1 auto;
               
            }
                .social a:hover{
                    color: #b3afaf;
                }

            .texto-principal{
                
            }
            h1{
                background: #30475e;
                font-family: 'lora', serif;
                font-size: 21px;
                color: seashell;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;

            }
    .section{
        background: #000;
        display: flex;
    }
            .articulos{
                background: #442727;
                flex: 2 1 auto;
                display: flex;
                flex-flow: column;
            }
            .article{
                background: #eae7d9;
                flex: 1 1 40%;

            }
            .navegacion{
                background: #937d14;
                flex: 1 1 100%;
            }

            .aside{
                background: #3b6978;
                flex: 1 1 auto;
            }
            .publicidad{
                background: #84a9ac;
            }

    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #512b58;
            width: 400px;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: ;
    }
}

@media all and (max-width: 600px){
    .menu{
      
    }
    .articulos{
        flex-direction: column;
    }
    
    
    .section{
      
    }
}

@media all and (max-width: 400px){
    
    .aside{
        flex-direction: column;
        
    }
}