*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #4d4c7d;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background: #512b58;
                flex: 1 1 auto;
                height: 50px;
            }
            .nav{
                background: #30475e;
                flex: 5 1 auto;
                height: 50px;
            }
            .social{
                background: #900c3f;
                flex: 1 1 auto;
                height: 50px;
            }

            .texto-principal{
                background: #c1a57b;
            }
            h1{
                background: #30475e;
            }
    .section{
        background: #000;
        display: flex;
    }
            .articulos{
                background: #442727;
                flex: 2 1 auto;
                display: flex;
                flex-flow: wrap;
            }
            .article{
                background: #eae7d9;
                flex: 1 1 auto;

            }
            .navegacion{
                background: #937d14;
                flex: 1 1 100%;
            }

            .aside{
                background: #3b6978;
                flex: 1 1 auto;
            }
            .publicidad{
                background: #84a9ac;
            }

    .footer{
        background: #000;
    }
        .pie{
            background: #512b58;
        }
